*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.header{
    overflow: hidden;
    background-color: #DA291C;
    z-index: 100000;
}

.header a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo{
    font-size: 25px;
    font-weight: bold;
}

.header a:hover{
    background-color: #004170;
    color: white;
}

.header-right{
    float: right;
}

.crest{
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-left: 2px;   
}

.navbar{
    overflow: hidden;
    background-color: #DA291C;
    float: right;
}
  
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover{
    background-color: #004170;
    color: #CEAB5D;
}
  
.navbar a.active{
    background-color: #004170;
    color: #CEAB5D;
}
  
.navbar .icon{
    display: none;
}

@media screen and (max-width: 600px){
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px){
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon{
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
}

/* footer */
.container{
    max-width: 1170px;
    background-color: #004170;
    margin: auto;
}

ul{
    list-style: none;
}

.footer{
    background-color: #004170;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 25%;
    padding: 0 15px;
}

.col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #DA291C;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.col ul li:not(:last-child){
    margin-bottom: 10px;
}

.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: lightgrey;
    display: block;
    transition: all 0.3s ease;
}

.col ul li a:hover{
    color: lightgrey;
    padding-left: 8px;
}

.col .slinks a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: darkgrey;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.col .slinks a:hover{
    color: black;
    background-color: white;
}

@media(max-width: 770px){
    .col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 575px){
    .col{
        width: 100%;
    }
}

/* Parallax */
.kit1, .kit2, .kit3, .kit4, .kit5{
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.kit1{
    background-image: url('../images/evolutionkit.jpg');
    min-height: 710px;
    max-height: 100%;
}

.kit2{
    background-image: url('../images/2021homekit.jpg');
    min-height: 400px;
}

.kit3{
    background-image: url('../images/2021awaykit.jpg');
    min-height: 400px;
}

.kit4{
    background-image: url('../images/thirdkit2021.jpg');
    min-height: 400px;
}

.kit5{
    background-image: url('../images/fourthkit2021.jpg');
    min-height: 400px;
}

.sec, .sec2{
    text-align: center;
    padding: 50px 80px;
}

.sec{
    background-color: white;
    color: black;
}

.sec2{
    background-color: white;
    color: black;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text .border{
    background-color: black;
    color: white;
    padding: 20px;
}

@media(max-width: 570px){
    .kit1, .kit2, .kit3, .kit4, .kit5{
        background-attachment: scroll;
    }
}